/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Krona+One");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/* line 10, ../sass/print.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 15, ../sass/print.scss */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* line 23, ../sass/print.scss */
.clear {
  clear: both;
}

/*menu general*/
/* line 28, ../sass/print.scss */
#menu-wrapper {
  position: relative;
}
/* line 30, ../sass/print.scss */
#menu-wrapper .top {
  background: #000;
  min-height: 55px;
  color: #cad401;
  font-weight: 100;
  border-bottom: 5px solid #cad401;
}
/* line 37, ../sass/print.scss */
#menu-wrapper .top .col-top .col {
  float: left;
  margin: 20px 5px;
  border-right: 1px solid;
  line-height: 15px;
  padding-right: 10px;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  /* line 37, ../sass/print.scss */
  #menu-wrapper .top .col-top .col {
    display: none;
  }
}
/* line 47, ../sass/print.scss */
#menu-wrapper .top .col-top .col a {
  font-weight: 100;
  text-decoration: none;
  color: #cad401;
}
/* line 53, ../sass/print.scss */
#menu-wrapper .top .col-top .col-sosmed {
  float: left;
  margin: 20px;
  margin-left: 0;
}
/* line 57, ../sass/print.scss */
#menu-wrapper .top .col-top .col-sosmed ul {
  margin: 0;
}
/* line 59, ../sass/print.scss */
#menu-wrapper .top .col-top .col-sosmed ul li {
  float: left;
  list-style: none;
  margin: -3px 10px;
}
/* line 63, ../sass/print.scss */
#menu-wrapper .top .col-top .col-sosmed ul li a {
  font-weight: 100;
  color: #cad401;
  text-decoration: none;
}
/* line 67, ../sass/print.scss */
#menu-wrapper .top .col-top .col-sosmed ul li a:hover {
  color: #fff;
}
/* line 77, ../sass/print.scss */
#menu-wrapper .main-menu {
  background: #fff;
  padding: 0px 20px;
}
@media screen and (max-width: 768px) {
  /* line 77, ../sass/print.scss */
  #menu-wrapper .main-menu {
    text-align: center;
  }
}
/* line 83, ../sass/print.scss */
#menu-wrapper .main-menu .logo {
  float: left;
  margin-top: 5px;
}
@media screen and (max-width: 1024px) {
  /* line 83, ../sass/print.scss */
  #menu-wrapper .main-menu .logo {
    margin-bottom: 5px;
  }
}
/* line 90, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile {
  display: none;
}
@media screen and (max-width: 1024px) {
  /* line 90, ../sass/print.scss */
  #menu-wrapper .main-menu .menumobile {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  /* line 95, ../sass/print.scss */
  #menu-wrapper .main-menu .menumobile .navbar-header {
    float: right;
  }
}
/* line 99, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile .navbar-header .navbar-toggle {
  border: 1px solid #cad401;
  margin: 10px 0;
}
@media screen and (max-width: 1024px) {
  /* line 99, ../sass/print.scss */
  #menu-wrapper .main-menu .menumobile .navbar-header .navbar-toggle {
    display: block !Important;
  }
}
/* line 105, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile .navbar-header .navbar-toggle .icon-bar {
  background: #cad401;
}
/* line 110, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile #navbar {
  width: 100%;
}
/* line 112, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile #navbar ul {
  float: none;
}
/* line 114, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile #navbar ul li {
  text-align: left;
  float: none;
}
/* line 117, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile #navbar ul li a {
  color: #000;
  display: block;
}
/* line 124, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile .collapse {
  display: none !important;
}
/* line 127, ../sass/print.scss */
#menu-wrapper .main-menu .menumobile .in {
  width: 100%;
  display: block !Important;
  overflow-y: auto !important;
}
/* line 133, ../sass/print.scss */
#menu-wrapper .main-menu .menus {
  float: left;
  margin-left: 100px;
  min-height: 75px;
}
@media screen and (max-width: 1024px) {
  /* line 133, ../sass/print.scss */
  #menu-wrapper .main-menu .menus {
    display: none;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* line 133, ../sass/print.scss */
  #menu-wrapper .main-menu .menus {
    margin-left: 0;
  }
}
/* line 143, ../sass/print.scss */
#menu-wrapper .main-menu .menus ul {
  margin: 0;
}
/* line 145, ../sass/print.scss */
#menu-wrapper .main-menu .menus ul li {
  list-style: none;
  float: left;
  font-size: 18px;
  line-height: 35px;
}
/* line 150, ../sass/print.scss */
#menu-wrapper .main-menu .menus ul li a {
  color: #000;
  display: block;
  text-decoration: none;
  padding: 20px;
}
@media (min-width: 1025px) and (max-width: 1200px) {
  /* line 150, ../sass/print.scss */
  #menu-wrapper .main-menu .menus ul li a {
    padding: 15px;
  }
}
/* line 158, ../sass/print.scss */
#menu-wrapper .main-menu .menus ul li a:hover {
  color: #fff;
  background: #cad401;
}
/* line 163, ../sass/print.scss */
#menu-wrapper .main-menu .menus ul li .active {
  color: #fff;
  background: #cad401;
}
/* line 170, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown {
  float: right;
  background: none;
  width: 84px !Important;
  margin-top: 28px;
}
@media screen and (max-width: 1024px) {
  /* line 170, ../sass/print.scss */
  #menu-wrapper .main-menu #myDropdown {
    float: none;
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 10px;
    display: none;
  }
}
/* line 182, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-select {
  width: 84px !Important;
  height: 20px;
  background: none !Important;
  border-color: #cad401;
}
/* line 187, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-select a {
  padding: 0 10px;
  color: #000;
}
/* line 190, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-select a img {
  margin-top: 3px;
}
/* line 195, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options {
  width: 84px !Important;
  height: 48px;
}
/* line 199, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li a {
  padding: 0 10px;
}
/* line 202, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li a img {
  margin-top: 3px;
}
/* line 205, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li a label {
  line-height: 20px !Important;
  font-size: 13px;
  color: #000;
}
/* line 211, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li .dd-option-selected {
  background: #cad401;
}
/* line 213, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li .dd-option-selected label {
  color: #fff;
}
/* line 218, ../sass/print.scss */
#menu-wrapper .main-menu #myDropdown .dd-options li:last-child {
  /*padding-top: 13px;*/
}

/* line 228, ../sass/print.scss */
#footer {
  margin-top: 20px;
  background: #828080;
}
/* line 231, ../sass/print.scss */
#footer .footer-wrapper {
  position: relative;
}
/* line 233, ../sass/print.scss */
#footer .footer-wrapper .border-double {
  position: relative;
  height: 20px;
}
/* line 236, ../sass/print.scss */
#footer .footer-wrapper .border-double .border1 {
  background: #c9d301;
  width: 100%;
  height: 20px;
}
/* line 241, ../sass/print.scss */
#footer .footer-wrapper .border-double .border2 {
  background: #929290;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
/* line 250, ../sass/print.scss */
#footer .footer-wrapper .footer-column {
  color: #fff;
  padding: 100px 0;
}
/* line 254, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .title {
  text-transform: uppercase;
  border-bottom: 1px solid #c9d301;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 30px;
  font-weight: 500;
}
/* line 263, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .desc p {
  margin-bottom: 10px;
}
/* line 268, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .list ul {
  margin: 0;
  padding: 0;
}
/* line 271, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .list ul li {
  list-style: none;
  text-transform: capitalize;
  margin-bottom: 15px;
}
/* line 275, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .list ul li a {
  color: #fff;
  display: block;
  text-decoration: none;
}
/* line 279, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .list ul li a:hover {
  color: #c9d301;
}
/* line 287, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .duo li {
  text-transform: none !important;
}
/* line 292, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .title {
  margin-bottom: 0;
}
/* line 295, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .col-sosmed {
  margin: 20px;
  margin-left: 0;
}
/* line 298, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .col-sosmed ul {
  margin: 0;
}
/* line 300, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .col-sosmed ul li {
  float: left;
  list-style: none;
  margin: -3px 15px;
  margin-left: 0;
}
/* line 305, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .col-sosmed ul li a {
  font-weight: 100;
  color: #fff;
}
/* line 308, ../sass/print.scss */
#footer .footer-wrapper .footer-column .footer-block .second-block .col-sosmed ul li a:hover {
  color: #cad401;
}
/* line 319, ../sass/print.scss */
#footer .footer-wrapper .footer-bottom {
  position: relative;
  height: 75px;
  background: #000;
  text-align: center;
  color: #fff;
  overflow: hidden;
  line-height: 75px;
}
/* line 327, ../sass/print.scss */
#footer .footer-wrapper .footer-bottom a {
  color: #fff;
  text-decoration: none;
}
/* line 330, ../sass/print.scss */
#footer .footer-wrapper .footer-bottom a:hover {
  color: #c9d301;
}
@media screen and (max-width: 768px) {
  /* line 319, ../sass/print.scss */
  #footer .footer-wrapper .footer-bottom {
    line-height: 25px;
    word-wrap: break-word;
    font-size: 12px;
    padding: 10px;
  }
}
/* line 340, ../sass/print.scss */
#footer .footer-wrapper .footer-bottom .border {
  background: #c9d301;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 50%;
  right: -80%;
}

/* line 353, ../sass/print.scss */
#wrapper {
  overflow: hidden;
}
/* line 357, ../sass/print.scss */
#wrapper .content-container #top-wrapper {
  background-size: cover;
  min-height: 390px;
  position: relative;
}
/* line 361, ../sass/print.scss */
#wrapper .content-container #top-wrapper .overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 368, ../sass/print.scss */
#wrapper .content-container #top-wrapper .page-content-wrapper {
  position: relative;
  color: #fff;
}
/* line 371, ../sass/print.scss */
#wrapper .content-container #top-wrapper .page-content-wrapper .column-txt {
  position: absolute;
  top: 60px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  /* line 371, ../sass/print.scss */
  #wrapper .content-container #top-wrapper .page-content-wrapper .column-txt {
    top: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  /* line 371, ../sass/print.scss */
  #wrapper .content-container #top-wrapper .page-content-wrapper .column-txt {
    top: 70px;
  }
}
/* line 383, ../sass/print.scss */
#wrapper .content-container #top-wrapper .page-content-wrapper .column-txt .column-one {
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 383, ../sass/print.scss */
  #wrapper .content-container #top-wrapper .page-content-wrapper .column-txt .column-one {
    width: 100%;
  }
}
/* line 388, ../sass/print.scss */
#wrapper .content-container #top-wrapper .page-content-wrapper .column-txt .column-one .title {
  font-weight: 700;
  margin-bottom: 20px;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 394, ../sass/print.scss */
#wrapper .content-container #top-wrapper .page-content-wrapper .column-txt .column-one .desc {
  font-size: 20px;
}
/* line 403, ../sass/print.scss */
#wrapper .content-container #home-wrapper {
  background: url(../img/banner-home.jpg) no-repeat center center;
  background-size: cover;
  min-height: 777px;
  position: relative;
}
/* line 408, ../sass/print.scss */
#wrapper .content-container #home-wrapper .overlay {
  background: rgba(11, 12, 1, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}
/* line 415, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper {
  position: relative;
  color: #fff;
}
/* line 418, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt {
  position: absolute;
  top: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
}
@media screen and (max-width: 768px) {
  /* line 418, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt {
    top: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1024px) {
  /* line 418, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt {
    top: 120px;
  }
}
/* line 430, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one {
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 430, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one {
    width: 100%;
  }
}
/* line 435, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}
/* line 440, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .desc {
  font-size: 20px;
}
/* line 443, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .btn-play {
  display: inline-block;
  background: #cad401;
  border-radius: 10px;
  font-weight: 500;
  margin-top: 50px;
}
/* line 449, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .btn-play a {
  display: block;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-decoration: none;
}
/* line 456, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .btn-play a .txt {
  float: left;
}
/* line 459, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .btn-play a .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 3px;
}
/* line 467, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-one .btn-play a .bulet i {
  vertical-align: top;
}
/* line 475, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block {
  position: relative;
  font-size: 24px;
}
/* line 478, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 458px;
  height: 63px;
}
@media screen and (max-width: 768px) {
  /* line 478, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 {
    width: 100%;
    right: -50%;
    margin-top: 20px;
    font-size: 18px;
  }
}
/* line 490, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 a {
  display: block;
  height: 100%;
  font-weight: 700;
  background: #cad401;
  position: relative;
  text-decoration: none;
}
/* line 497, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 a .txt {
  line-height: 63px;
  padding-left: 30px;
  color: #000;
  text-transform: uppercase;
}
/* line 502, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 a .txt:hover {
  color: #fff;
}
/* line 506, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block1 a .border {
  height: 5px;
  background: #fff;
  width: 100%;
  position: absolute;
  margin-left: 10px;
  top: 50%;
}
/* line 516, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 {
  position: absolute;
  right: 0;
  bottom: -80px;
  width: 558px;
  height: 63px;
}
@media screen and (max-width: 768px) {
  /* line 516, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 {
    width: 100%;
    margin-top: 20px;
    right: -40%;
    font-size: 18px;
  }
}
/* line 528, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 a {
  display: block;
  height: 100%;
  font-weight: 700;
  background: #fff;
  position: relative;
  text-decoration: none;
}
/* line 535, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 a .txt {
  line-height: 63px;
  padding-left: 30px;
  color: #000;
  text-transform: uppercase;
}
/* line 540, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 a .txt:hover {
  color: #929290;
}
/* line 544, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block2 a .border {
  height: 5px;
  background: #929290;
  width: 100%;
  position: absolute;
  margin-left: 10px;
  top: 50%;
}
/* line 554, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 {
  position: absolute;
  right: 0;
  bottom: -160px;
  width: 658px;
  height: 63px;
}
@media screen and (max-width: 768px) {
  /* line 554, ../sass/print.scss */
  #wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 {
    width: 100%;
    right: -30%;
    margin-top: 20px;
    font-size: 18px;
  }
}
/* line 566, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 a {
  display: block;
  height: 100%;
  font-weight: 700;
  background: #929290;
  position: relative;
  text-decoration: none;
}
/* line 573, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 a .txt {
  line-height: 63px;
  padding-left: 30px;
  color: #000;
  text-transform: uppercase;
}
/* line 578, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 a .txt:hover {
  color: #fff;
}
/* line 582, ../sass/print.scss */
#wrapper .content-container #home-wrapper .home-content-wrapper .column-txt .column-two .home-column-block .block3 a .border {
  height: 5px;
  background: #fff;
  width: 100%;
  position: absolute;
  margin-left: 10px;
  top: 50%;
}
/* line 598, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper {
  padding: 50px 0;
}
/* line 600, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  height: 105px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 600, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .title-wrapper {
    height: 100%;
  }
}
/* line 611, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper .title {
  display: inline-block;
  padding-left: 50px;
  height: 105px;
  padding-top: 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 611, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .title-wrapper .title {
    height: 100%;
    padding-left: 0;
  }
}
/* line 621, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper .title .ico {
  position: absolute;
  top: 0;
}
@media screen and (max-width: 768px) {
  /* line 621, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .title-wrapper .title .ico {
    display: none;
  }
}
/* line 628, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper .title .block {
  display: inline-block;
  position: relative;
  left: 40px;
}
@media screen and (max-width: 768px) {
  /* line 628, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .title-wrapper .title .block {
    left: 0;
  }
}
/* line 636, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper .title .border-top {
  position: absolute;
  background: #c9d301;
  height: 1px;
  width: 100%;
}
/* line 642, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .title-wrapper .title .border-bottom {
  position: absolute;
  background: #c9d301;
  height: 1px;
  width: 100%;
  bottom: 26px;
}
@media screen and (max-width: 768px) {
  /* line 642, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .title-wrapper .title .border-bottom {
    bottom: 0;
  }
}
/* line 654, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-desc {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  color: #000;
  margin: 0 20px 50px;
}
/* line 660, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .maps-wrapper {
  position: relative;
  border-top: 5px solid #949493;
  margin-top: 50px;
  min-height: 466px;
  top: 75px;
}
/* line 668, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project {
  margin-bottom: 30px;
}
/* line 670, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .img {
  display: block;
  position: relative;
}
/* line 673, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .img img {
  object-fit: cover;
  height: 233px;
  width: 100%;
}
/* line 679, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column {
  color: #555;
  padding: 50px;
  min-height: 240px;
  border: 1px solid #ccc;
  text-align: center;
  position: relative;
}
/* line 686, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
}
/* line 691, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .desc {
  font-size: 16px;
}
/* line 694, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more {
  font-weight: 500;
  text-transform: uppercase;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  left: 0;
}
/* line 702, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more a {
  display: inline-block;
  border-radius: 10px;
  background: #555;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-decoration: none;
  font-weight: 500;
}
/* line 712, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more a:hover {
  background: #c8d204;
}
/* line 715, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more a .txt {
  float: left;
}
/* line 718, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more a .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 3px;
}
/* line 726, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .column-list-project .list-project .column .btn-more a .bulet i {
  vertical-align: top;
  margin-top: -1px;
}
/* line 736, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center {
  text-align: center;
}
/* line 738, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back {
  display: inline-block;
  width: 100%;
  font-weight: 500;
  margin-top: 50px;
}
/* line 743, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back a {
  display: inline-block;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-decoration: none;
}
/* line 752, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back a:hover {
  background: #cad401;
}
/* line 755, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back a .txt {
  text-transform: uppercase;
}
/* line 758, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back a .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: left;
  text-align: center;
  margin-top: 3px;
}
/* line 766, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .center .btn-back a .bulet i {
  vertical-align: top;
  margin-top: -1px;
}
/* line 774, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article {
  background: #cfcfcd;
  height: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 779, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left {
  float: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 779, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left {
    float: none;
    width: 100%;
  }
}
/* line 786, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .article {
  padding: 70px 30px 0px;
}
@media screen and (max-width: 768px) {
  /* line 786, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .article {
    padding-bottom: 30px;
  }
}
/* line 791, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .article .title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../img/border-title.jpg) no-repeat bottom left;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
/* line 799, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .article .desc {
  font-size: 14px;
}
/* line 803, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .img {
  position: relative;
}
/* line 805, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .img .overlay {
  background: rgba(123, 99, 75, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 815, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .img img {
  object-fit: cover;
  height: 527px;
  width: 100%;
}
@media (min-width: 800px) {
  /* line 815, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .img img {
    height: 600px;
  }
}
/* line 824, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block {
  position: absolute;
  width: 90%;
  background: rgba(196, 195, 192, 0.8);
  top: 0;
  padding: 40px;
  margin: 120px 30px;
}
@media screen and (max-width: 768px) {
  /* line 824, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block {
    width: auto;
  }
}
/* line 835, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block .list ul {
  margin: 0;
  padding: 0;
}
/* line 838, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block .list ul li {
  list-style: none;
  margin-bottom: 15px;
  color: #555;
}
/* line 842, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block .list ul li a {
  text-decoration: none;
  color: #555;
}
/* line 845, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-left .content-block .list ul li a:hover {
  color: #fff;
}
/* line 854, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right {
  float: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 854, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right {
    float: none;
    width: 100%;
  }
}
/* line 861, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact {
  padding: 50px 30px;
}
@media screen and (max-width: 768px) {
  /* line 861, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact {
    padding-bottom: 100px;
  }
}
/* line 866, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column {
  padding-bottom: 30px;
  display: inline-block;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 866, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column {
    text-align: center;
  }
}
/* line 873, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column .title-left {
  font-weight: 700;
  font-size: 22px;
}
@media screen and (max-width: 768px) {
  /* line 873, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column .title-left {
    float: none !important;
  }
}
/* line 880, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column .title-right {
  color: #fe9d00;
  font-size: 24px;
  font-weight: 500;
  background: url(../img/phone-orange.png) no-repeat left;
  padding-left: 35px;
}
@media screen and (max-width: 768px) {
  /* line 880, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .title-column .title-right {
    float: none !important;
    display: inline-block;
  }
}
/* line 895, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .form-group input {
  height: 50px;
  border-radius: 10px;
}
/* line 899, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .form-group textarea {
  height: 150px;
  border-radius: 10px;
}
/* line 904, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit {
  font-weight: 500;
  margin-top: 20px;
}
/* line 907, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit button {
  display: block;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-decoration: none;
}
/* line 916, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit button:hover {
  background: #c8d204;
}
/* line 919, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit button .txt {
  float: left;
}
/* line 922, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit button .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 3px;
}
/* line 930, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .contact .form-wrapper form .btn-submit button .bulet i {
  vertical-align: top;
  margin-top: -1px;
}
/* line 940, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .article {
  padding: 70px 30px 0px;
}
@media screen and (max-width: 768px) {
  /* line 940, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .article {
    padding-bottom: 30px;
  }
}
/* line 945, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .article .title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../img/border-title.jpg) no-repeat bottom left;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
/* line 953, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .article .desc {
  font-size: 14px;
}
/* line 957, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .img {
  position: relative;
}
/* line 959, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .img .overlay {
  background: rgba(123, 99, 75, 0.3);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
/* line 969, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .page-large-article-right .img img {
  object-fit: cover;
  height: 527px;
  width: 100%;
}
/* line 976, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double {
  position: relative;
  height: 20px;
}
/* line 979, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double .border1 {
  background: #c9d301;
  width: 100%;
  height: 20px;
}
/* line 984, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double .border2 {
  background: #929290;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
/* line 993, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double-contact {
  position: relative;
  height: 20px;
}
/* line 996, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double-contact .border1 {
  background: #929290;
  width: 100%;
  height: 20px;
}
/* line 1001, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .page-large-article .border-double-contact .border2 {
  background: #c9d301;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
/* line 1012, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper {
  text-transform: uppercase;
  color: #000;
  font-weight: 700;
  text-align: center;
  font-size: 32px;
  height: 105px;
  margin-bottom: 50px;
}
@media screen and (max-width: 768px) {
  /* line 1012, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper {
    height: 100%;
  }
}
/* line 1023, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title {
  display: inline-block;
  padding-left: 50px;
  height: 105px;
  padding-top: 30px;
  position: relative;
}
@media screen and (max-width: 768px) {
  /* line 1023, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title {
    height: 100%;
    padding-left: 0;
  }
}
/* line 1033, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .ico {
  position: absolute;
  top: 0;
}
@media screen and (max-width: 768px) {
  /* line 1033, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .ico {
    display: none;
  }
}
/* line 1040, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .block {
  display: inline-block;
  position: relative;
  left: 40px;
}
@media screen and (max-width: 768px) {
  /* line 1040, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .block {
    left: 0;
  }
}
/* line 1048, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .border-top {
  position: absolute;
  background: #c9d301;
  height: 1px;
  width: 100%;
}
@media screen and (max-width: 768px) {
  /* line 1048, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .border-top {
    display: none;
  }
}
/* line 1057, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .border-bottom {
  position: absolute;
  background: #c9d301;
  height: 1px;
  width: 100%;
  bottom: 26px;
}
@media screen and (max-width: 768px) {
  /* line 1057, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .title-wrapper .title .border-bottom {
    display: none;
  }
}
/* line 1069, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .videos {
  position: relative;
}
/* line 1071, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .videos .img {
  text-align: center;
}
/* line 1073, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .videos .img img {
  width: 100%;
  height: 735px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  /* line 1073, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .videos .img img {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  /* line 1082, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .videos #iframeyoutube {
    height: 300px;
  }
}
/* line 1087, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .videos .play {
  position: absolute;
  width: 50%;
  height: 25%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  text-align: center;
}
/* line 1097, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .video-wrapper .videos .play img {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  /* line 1097, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .video-wrapper .videos .play img {
    width: 50%;
    height: 50%;
  }
}
/* line 1107, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .border-gap {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}
/* line 1111, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column {
  margin-top: 50px;
}
/* line 1113, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block {
  background: #ebebeb;
  overflow: hidden;
  margin-bottom: 20px;
}
/* line 1118, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a {
  display: block;
  position: relative;
}
/* line 1121, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a img {
  object-fit: cover;
  height: 270px;
  width: 100%;
}
/* line 1126, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a .hover {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  background: #c9d301;
  text-align: center;
  display: none;
}
/* line 1137, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a .hover img {
  height: auto;
  object-fit: none;
  display: inline-block;
}
@media (min-width: 600px) and (max-width: 990px) {
  /* line 1137, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a .hover img {
    width: 60%;
  }
}
/* line 1147, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .img a:hover .hover {
  display: block;
}
/* line 1153, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column {
  padding: 25px 30px 20px;
  min-height: 243px;
  position: relative;
}
/* line 1157, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .title {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  background: url(../img/border-title.jpg) no-repeat bottom left;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-weight: 700;
}
/* line 1166, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .desc {
  color: #555;
  font-size: 16px;
}
/* line 1170, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more {
  font-weight: 500;
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
/* line 1176, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more a {
  display: block;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  text-decoration: none;
}
/* line 1185, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more a:hover {
  background: #c8d204;
}
/* line 1188, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more a .txt {
  float: left;
}
/* line 1191, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more a .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 3px;
}
/* line 1199, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .column .btn-more a .bulet i {
  vertical-align: top;
  margin-top: -1px;
}
/* line 1207, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .border-double {
  position: relative;
  height: 20px;
}
/* line 1210, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .border-double .border1 {
  background: #c9d301;
  width: 100%;
  height: 20px;
}
/* line 1215, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-article-column .home-articl-block .border-double .border2 {
  background: #929290;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
/* line 1226, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article {
  background: #cfcfcd;
  height: 100%;
  overflow: hidden;
  margin-top: 20px;
}
/* line 1231, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left {
  float: left;
  width: 50%;
  padding: 70px 30px 30px;
  overflow: hidden;
  min-height: 500px;
}
@media screen and (max-width: 768px) {
  /* line 1231, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left {
    float: none;
    width: 100%;
  }
}
/* line 1242, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .title {
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  background: url(../img/border-title.jpg) no-repeat bottom left;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
/* line 1250, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .desc {
  font-size: 16px;
  max-height: 300px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  /* line 1250, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .desc {
    max-height: 100%;
  }
}
/* line 1257, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .desc p {
  margin-bottom: 20px;
  line-height: 20px;
}
/* line 1262, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more {
  float: right;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  /* line 1262, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more {
    float: none;
    padding-bottom: 20px;
  }
}
/* line 1269, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more a {
  display: block;
  border-radius: 10px;
  background: #000;
  color: #fff;
  padding: 10px;
  width: 120px;
  height: 40px;
  margin-top: 10px;
  text-decoration: none;
}
/* line 1279, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more a:hover {
  background: #c8d204;
}
/* line 1282, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more a .txt {
  float: left;
}
/* line 1285, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more a .bulet {
  border: 1px solid #fff;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  float: right;
  text-align: center;
  margin-top: 3px;
}
/* line 1293, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-left .btn-more a .bulet i {
  vertical-align: top;
  margin-top: -1px;
}
/* line 1301, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-right {
  float: left;
  width: 50%;
}
@media screen and (max-width: 768px) {
  /* line 1301, ../sass/print.scss */
  #wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-right {
    float: none;
    width: 100%;
  }
}
/* line 1309, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .home-large-article-right .img img {
  object-fit: cover;
  height: 499px;
  width: 100%;
}
/* line 1316, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .border-double {
  position: relative;
  height: 20px;
}
/* line 1319, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .border-double .border1 {
  background: #c9d301;
  width: 100%;
  height: 20px;
}
/* line 1324, ../sass/print.scss */
#wrapper .content-container .column-content-wrapper .home-large-article .border-double .border2 {
  background: #929290;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
/* line 1335, ../sass/print.scss */
#wrapper .content-container .border-double {
  position: relative;
  height: 20px;
}
/* line 1338, ../sass/print.scss */
#wrapper .content-container .border-double .border1 {
  background: #c9d301;
  width: 100%;
  height: 20px;
}
/* line 1343, ../sass/print.scss */
#wrapper .content-container .border-double .border2 {
  background: #000;
  position: absolute;
  left: 50%;
  top: 0;
  width: 100%;
  height: 20px;
}
