/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Krona+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


*{
	margin:0;
	padding: 0;
}

body{
	margin:0;
	padding: 0;	
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}


.clear{
	clear: both;
}

/*menu general*/
#menu-wrapper{
	position: relative;
	.container{
		@media screen and (max-width: 1025px) {
			width: 100%;
			padding: 0;
		}
	}
	.top{
		background:#000;
		min-height: 55px; 
		color: #cad401;
		font-weight: 100;
		border-bottom: 5px solid #cad401;
		.col-top{
			.col{
				@media screen and (max-width: 768px){
					display: none;
				}
				float: left;
				margin: 20px 5px;
				border-right: 1px solid;
				line-height: 15px;
				padding-right: 10px;
				font-weight: 100;
				a{
					font-weight: 100;
					text-decoration: none;
					color: #cad401;
				}
			}
			.col-sosmed{
				float: left;
				margin: 20px;
			    margin-left: 0;
				ul{
					margin: 0;
					li{
						float: left;
						list-style: none;
						margin: -3px 10px;
						a{
							font-weight: 100;
							color: #cad401;
							text-decoration: none;
							&:hover{
								color:#fff;
							}
						}			
					}
					.language-mobile{
						display: none;
						@media screen and (max-width: 1024px) {
							display: block;
						}
						li{
							margin: 0;
							&:first-child{
							    border-right: 1px solid;
							}
							a{
							    padding: 10px;
								color: #cad401;
							}
						}						
						.active{
							a{
								color: #fff;
							}
						}
					}
				}
				
			}	
		}
	}
	.main-menu{
		background: #fff;
		padding: 0px 20px;
		@media screen and (max-width: 768px) {
			text-align: center;
		}
		.logo{
			float: left; 
		    /*margin-top: 5px;*/
		    @media screen and (max-width: 1024px) {
				margin-bottom: 5px;
			    width: 210px;
		    }
		}
		.menumobile{
			display: none;
			@media screen and (max-width: 1024px){
				display: block;
			}
			.navbar-header{
				@media screen and (max-width: 1024px){
					float: right;
				}
				.navbar-toggle{
					border: 1px solid #cad401;
				    margin: 10px 0;
				    @media screen and (max-width: 1024px) {
				    	display: block !Important;
				    }
					.icon-bar{
						background: #cad401;
					}
				}
			}		    
				#navbar{
					width: 100%;
				    position: absolute;
				    top: 122px;
				    left: 0;
				    z-index: 9;
					display: none;
					ul{
						float: none;
    					background: #fff;
					    margin: 0;
    					padding: 10px;
						li{
							text-align: left;
							float: none;
							list-style: none;
							a{
								color: #000;
								display: block;
							}
							.active{
								color: #cad401;
							}
						}

					}
				}
				.collapse{
				    display: none !important;
				}
				.in{
					width: 100%;
					display: block !Important;
					overflow-y: auto !important;
				}
			
		}
		.menus{
			float: left;
			margin-left: 30px;
		    min-height: 75px;
		    @media screen and (max-width: 1030px){
				display: none;
			}
			@media (min-width: 1025px)and(max-width: 1200px) {
				margin-left:0;
			}
			ul{
				margin: 0;
				li{
					list-style: none;
					float: left;
					font-size: 18px; 
				    line-height: 35px;
					a{
						color: #000;
						display: block;
					    text-decoration: none;
    					padding: 20px;
    					@media (min-width: 1025px)and(max-width: 1200px) {
							padding: 15px;
						}
    					&:hover{
    						color:#fff;
    						background: #cad401;
    					}
					}
					.active{
						color:#fff;
						background: #cad401;
					}
				}
			}
		}
		#myDropdown{
			float: right;
			background: none;
			width: 84px !Important;
		    margin-top: 28px;
			@media screen and(max-width: 1024px) {
			    float: none;
			    display: inline-block;
			    margin-top: 10px;
			    padding-bottom: 10px;
			    display: none;
			}
			.dd-select{
				width: 84px !Important;
				height: 20px;
				background: none !Important;
				border-color: #cad401;
				a{
				    padding: 0 10px;
				    color: #000;
				    img{
			    	    margin-top: 3px;
				    }
				}
			}
			.dd-options{
				width: 84px !Important;
				height: 48px;
				li{
					a{
					    padding: 0 10px;
						
					    img{
				    	    margin-top: 3px;
					    }
					    label{
				    	    line-height: 20px !Important;
	    					font-size: 13px;
	    					color: #000;
					    }
					}
					.dd-option-selected{
						background: #cad401;
						label{
							color: #fff;
						}
					}
				}
				li:last-child{
					/*padding-top: 13px;*/
				}
			}
		}
	}
}



#footer{
	margin-top: 20px;
	background: #828080;
	.footer-wrapper{
		position: relative;
		.border-double{
			position: relative;
			height: 20px;
			.border1{
				background: #c9d301;
				width: 100%;
				height: 20px;
			} 
			.border2{
				background: #929290;
			    position: absolute;
			    left: 50%;
			    top: 0;
			    width: 100%;
			    height: 20px;
			} 
		}
		.footer-column{
			color: #fff;
		    padding: 100px 0;
			.footer-block{
				.title{
					text-transform: capitalize;
					border-bottom: 1px solid #c9d301;
					display: inline-block;
				    padding-bottom: 5px;
				    margin-bottom: 30px; 
				    font-weight: 500;
				}
				.desc{
					p{
						margin-bottom: 10px;
					}
				}
				.list{
					ul{
						margin: 0;
						padding: 0;
						li{
							list-style: none;							
    						text-transform: capitalize;
						    margin-bottom: 15px;
						    @media screen and (max-width: 1024px) {
						       word-wrap: break-word;	
						    }
							a{
								color: #fff;
							    display: block;
								text-decoration: none;
								&:hover{
									color:#c9d301;
								}
							}
						}
					}
				}
				.duo{
					li{
						text-transform: none !important;
					}
				}
				.second-block{
					.title{
						margin-bottom: 0;
					}
					.col-sosmed{
						margin: 20px;
					    margin-left: 0;					 
						ul{
							margin: 0;
							li{
								float: left;
								list-style: none;
								margin: -3px 15px;
								margin-left: 0;
								a{
									font-weight: 100;
									color: #fff;
									&:hover{
										color:#cad401;
									}
								}			
							}
						}
						
					}	
				}
			}
		}
		.footer-bottom{
			position: relative;
			height: 75px;
			background: #000;
			text-align: center;
			color: #fff;
			overflow: hidden;
			line-height: 75px;
			a{
				color: #fff;
				text-decoration: none;
				&:hover{
					color:#c9d301;
				}
			}
			@media screen and (max-width: 768px){
			    line-height: 25px;
			    word-wrap: break-word;
			    font-size: 12px;
			    padding: 10px;
			}
			.border{
				background: #c9d301;
				height: 5px;
				width: 100%;
				position: absolute;
			    top: 50%;
				right: -80%;
			}
		}
	}
}


#wrapper{
	overflow: hidden;
	.content-container{
		
		#top-wrapper{
			background-size: cover;
			min-height: 390px;
			position: relative;
			@media screen and (max-width: 320px) {
				min-height: 450px;
			}
			.overlay{
		        background: rgba(0, 0, 0, 0.5);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}		
			.page-content-wrapper{
				position: relative;
				color: #fff;
				.column-txt{
				    position: absolute;
				    top: 60px;
				    margin: 0 auto;
				    left: 0;
				    right: 0;
				    @media screen and (max-width: 768px){
				    	top: 20px;
				    }
				    @media (min-width: 800px) and (max-width: 1024px){
				    	top: 70px;
				    }
				    .column-one{
				    	width: 50%;
				    	@media screen and (max-width: 768px){
				    		width: 100%;
				    	}
						.title{
							font-weight: 700;
						    margin-bottom: 20px;
							font-size: 30px;
							text-transform: uppercase;
						}
						.desc{
							font-size: 20px;
						}
				    }
					
				}
			}
		}

		#home-wrapper{
			background: url(../img/banner-home.jpg) no-repeat center center;
			background-size: cover;
			min-height: 777px;
			position: relative;			
			.overlay{
		        background: rgba(11, 12, 1, 0.5);
			    position: absolute;
			    width: 100%;
			    height: 100%;
			    top: 0;
			}
			.home-content-wrapper{
				position: relative;
				color: #fff;
				.column-txt{
				    position: absolute;
				    top: 200px;
				    margin: 0 auto;
				    left: 0;
				    right: 0;
				    @media screen and (max-width: 768px){
				    	top: 20px;
				    }
				    @media (min-width: 800px) and (max-width: 1024px){
				    	top: 120px;
				    }
				    .column-one{
				    	width: 50%;
				    	@media (min-width: 1025px) {
				    		position:absolute;	
				    	}
				    	@media screen and (max-width: 768px){
				    		width: 100%;
				    	}
						.title{
							font-weight: 700;
							font-size: 36px;
							text-transform: uppercase;
						}
						.desc{
							font-size: 20px;
						}
						.btn-play{
							display: inline-block;
							background: #cad401;
							border-radius: 10px; 
							font-weight: 500;
							margin-top: 50px;
							a{
								display: block;
								color: #fff;
								padding: 10px;
								width: 120px;
								height: 40px;
								text-decoration: none;
								.txt{
									float: left;
								}
								.bulet{
									border: 1px solid #fff;
								    width: 15px;
								    height: 15px;
								    border-radius: 50%;
								    float: right;
								    text-align: center;
								    margin-top: 3px;
								    i{
							    	    vertical-align: top;
								    }
								}
							}
						}
				    }
				    .column-two{
						.home-column-block{
							position: relative;
							font-size: 24px;
							@media (min-width: 1025px) {
								top: 200px;	
							}							
							.block1{
								position: absolute;
								right: 0;
							    bottom: 0;
								width: 458px;
								height: 63px;
								@media screen and (max-width: 768px){
									width: 100%;
									right: -50%;
									margin-top: 20px;
									font-size: 18px;
								}
								a{
									display: block;
									height: 100%;
									font-weight: 700;
									background: #cad401;
									position: relative;
									text-decoration: none;
								    .txt{
										line-height: 63px;
									    padding-left: 30px;
									    color: #000;
									    text-transform: uppercase;
									    &:hover{
									    	color:#fff;
									    }
								    }
								    .border{
										height: 5px;
										background: #fff;
									    width: 100%;
									    position: absolute;
									    margin-left: 10px;
									    top: 50%;
								    }
								}
							}
							.block2{
								position: absolute;
								right: 0;
							    bottom: -80px;
								width: 558px;
								height: 63px;
								@media screen and (max-width: 768px){
									width: 100%;
									margin-top: 20px;
									right: -40%;
									font-size: 18px;
								}
								a{
									display: block;
									height: 100%;
									font-weight: 700;
									background: #fff;
									position: relative;
									text-decoration: none;
								    .txt{
										line-height: 63px;
									    padding-left: 30px;
									    color: #000;
									    text-transform: uppercase;
									    &:hover{
									    	color:#929290;
									    }
								    }
								    .border{
										height: 5px;
										background: #929290;
									    width: 100%;
									    position: absolute;
									    margin-left: 10px;
									    top: 50%;
								    }
								}
							}
							.block3{
								position: absolute;
								right: 0;
							    bottom: -160px;
								width: 658px;
								height: 63px;
								@media screen and (max-width: 768px){
									width: 100%;
									right: -30%;
									margin-top: 20px;
									font-size: 18px;
								}
								a{
									display: block;
									height: 100%;
									font-weight: 700;
									background: #929290;
									position: relative;
									text-decoration: none;
								    .txt{
										line-height: 63px;
									    padding-left: 30px;
									    color: #000;
									    text-transform: uppercase;
									    &:hover{
									    	color:#fff;
									    }
								    }
								    .border{
										height: 5px;
										background: #fff;
									    width: 100%;
									    position: absolute;
									    margin-left: 10px;
									    top: 50%;
								    }
								}
							}
						}
				    }
					
				}
			}
		}
		.column-content-wrapper{
			padding: 50px 0;
			.title-wrapper{
			    text-transform: uppercase;
			    color: #000;
			    font-weight: 700;
			    text-align: center;
			    font-size: 32px;
			    height: 105px;
			    margin-bottom: 50px;
			    @media screen and (max-width: 768px) {
				    height: 100%;
			    }
			    .title{
			    	display: inline-block;
				    /*padding-left: 50px;*/
					height: 105px;
					padding-top: 30px;
					position: relative;
					@media screen and (max-width: 768px) {
					    height: 100%;
					    /*padding-left: 0;*/
				    }
					.ico{
						position: absolute;
						top: 0;
						/*@media screen and (max-width: 768px) {
							display: none;
						}*/
					}
					.block{
						display: inline-block;
					    position: relative;
						left: 40px;
						@media screen and (max-width: 1024px) {
						    left: 0;
					        padding-left: 30px;
					    }
					}
					.border-top{
					    position: absolute;
					    background: #c9d301;
					    height: 1px;
						width: 100%;
					    left: 25%;
					    @media screen and (max-width: 1024px) {
					    	left: 0;
					    }
					}
					.border-bottom{
						position: absolute;
						background: #c9d301;
					    height: 1px;
						width: 100%;
					    left: 25%;
					    bottom: 26px;
					    @media screen and (max-width: 768px) {
							bottom: 0;
							left: 0;
						}
						@media (min-width: 770px)and(max-width: 1024px){
							left:0;
						}
					}
			    }
			}
			.column-desc{
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
				color: #000;
			    margin: 0 20px 50px;
			}
			.maps-wrapper{
			    position: relative;
			    border-top: 5px solid #949493;
		        margin-top: 50px;
			    min-height: 466px;
			    top: 75px;
			}
			.column-list-project{
				.list-project{
					margin-bottom: 30px;
					.img{
						display: block;
						position: relative;
						img{
						    object-fit: cover;
						    height: 233px;
						    width: 100%;
						}
					}
					.column{
						color: #555;
						padding: 50px;
						min-height: 240px;
					    border: 1px solid #ccc;
						text-align: center;
						position: relative;
						.title{
							text-transform: uppercase;
							font-weight: 700;
							font-size: 24px;
						}
						.desc{
							font-size: 16px;
						}
						.btn-more{
							font-weight: 500;							
							text-transform: uppercase;
						    position: absolute;
						    bottom: 20px;
					        width: 100%;
						    text-align: center;
						    left: 0;
							a{
								display: inline-block;
								border-radius: 10px; 
								background: #555;
								color: #fff;
								padding: 10px;
								width: 120px;
								height: 40px;
								text-decoration: none;
								font-weight: 500;
								&:hover{
									background:#c8d204;
								}
								.txt{
									float: left;
								}
								.bulet{
									border: 1px solid #fff;
								    width: 15px;
								    height: 15px;
								    border-radius: 50%;
								    float: right;
								    text-align: center;
								    margin-top: 3px;
								    i{
							    	    vertical-align: top;
						    	        margin-top: -1px;
								    }
								}
							}
						}
					}
				}
			}
			.center{
				text-align: center;
				.btn-back{
					display: inline-block;
					width:100%;
					font-weight: 500;
					margin-top: 50px;
					a{
						display: inline-block;
						border-radius: 10px; 
						background: #000;
						color: #fff;
						padding: 10px;
						width: 120px;
						height: 40px;
						text-decoration: none;
						&:hover{
							background: #cad401;
						}
						.txt{
							text-transform: uppercase;
						}
						.bulet{
							border: 1px solid #fff;
						    width: 15px;
						    height: 15px;
						    border-radius: 50%;
						    float: left;
						    text-align: center;
						    margin-top: 3px;
						    i{
					    	    vertical-align: top;
				    	   	     margin-top: -1px;
						    }
						}
					}
				}
			}
			.page-large-article{
				background: #cfcfcd;
				height: 100%;
				overflow: hidden;
				margin-bottom: 30px;
				.page-large-article-left{
					float: left;
					width: 50%;
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%
					}
					.article{
						padding: 70px 30px 0px;	
						@media screen and (max-width: 768px) {
							padding-bottom: 30px;
						}
						.title{
							font-size: 24px;
							font-weight: 700;
							text-transform: uppercase;
							background: url(../img/border-title.jpg) no-repeat bottom left;
						    padding-bottom: 5px;
						    margin-bottom: 20px;
						}
						.desc{
							font-size: 14px;
						}
					}
					.img{
						position: relative;
						.overlay{
							background: rgba(123, 99, 75, 0.3);
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
						}
						img{
							object-fit: cover;
							height: 527px;
							width: 100%;
							@media (min-width: 800px) {
								height: 700px;
							}
						}
					}
					.content-block{
					    position: absolute;
					    width: 90%;
					    background: rgba(196, 195, 192, 0.8);
					    top: 0;
					    padding: 40px;
					    margin: 120px 30px;
					    @media screen and (max-width: 768px) {
					    	width: auto;
					    	left: 0;
							right: 0;
					    }
					    @media (min-width: 769px) and (max-width: 1024px){
					    	margin: 120px 20px;
					    }
						.list{
							ul{
							    margin: 0;
    							padding: 0;
    							li{
									list-style: none;
								    margin-bottom: 15px;
								    color: #555;
								    a{
								    	text-decoration: none;
								    	color: #555;
								    	&:hover{
								    		color:#fff;
								    	}
								    }
								}
							}							
						}
					}
				}
				.page-large-article-right{
					float: left;
					width: 50%;
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%
					}
					.contact{
						padding: 50px 30px;
						@media screen and (max-width: 768px){
							padding-bottom: 100px;
						}
						.title-column{
							padding-bottom: 30px;
							display: inline-block;
							width: 100%;
							@media screen and (max-width: 768px){
								text-align: center;
							}
							.title-left{
								font-weight: 700;
								font-size: 22px;
								@media screen and (max-width: 768px){
									float: none !important;
								}
							}
							.title-right{
								color: #fe9d00;
								font-size: 24px;
								font-weight: 500;
								background: url(../img/phone-orange.png) no-repeat left;
								padding-left: 35px;
								@media screen and (max-width: 768px){
									float: none !important;
									display: inline-block;
								}
							}
						}
						.form-wrapper{
							form{
								.form-group{
									input{
										height: 50px;
										border-radius: 10px;
									}
									textarea{
										height: 150px;
										border-radius: 10px;	
									}
								}
								.btn-submit{
									font-weight: 500;
									margin: 20px 0;
									button{
										display: block;
										border-radius: 10px; 
										background: #000;
										color: #fff;
										padding: 10px;
										width: 120px;
										height: 40px;
										text-decoration: none;
										border: none;
										box-shadow: none;
										&:hover{
											background:#c8d204;
										}
										.txt{
											float: left;
										}
										.bulet{
											border: 1px solid #fff;
										    width: 15px;
										    height: 15px;
										    border-radius: 50%;
										    float: right;
										    text-align: center;
										    margin-top: 3px;
										    i{
									    	    vertical-align: top;
								    	        margin-top: -1px;
										    }
										}
									}
								}
							}
						}
					}
					.article{
						padding: 70px 30px 0px;	
						@media screen and (max-width: 768px) {
							padding-bottom: 30px;
						}						
						.title{
							font-size: 24px;
							font-weight: 700;
							text-transform: uppercase;
							background: url(../img/border-title.jpg) no-repeat bottom left;
						    padding-bottom: 5px;
						    margin-bottom: 20px;
						}
						.desc{
							font-size: 14px;
						}
					}
					.img{
						position: relative;
						.overlay{
							background: rgba(123, 99, 75, 0.3);
							position: absolute;
							width: 100%;
							height: 100%;
							left: 0;
							right: 0;
							top: 0;
							bottom: 0;
						}
						img{
							object-fit: cover;
							height: 527px;
							width: 100%;
						}
					}
				}
				.border-double{
					position: relative;
					height: 20px;
					.border1{
						background: #c9d301;
						width: 100%;
						height: 20px;
					} 
					.border2{
						background: #929290;
					    position: absolute;
					    left: 50%;
					    top: 0;
					    width: 100%;
					    height: 20px;
					} 
				}
				.border-double-contact{
					position: relative;
					height: 20px;
					.border1{
						background: #929290;
						width: 100%;
						height: 20px;
					} 
					.border2{
						background: #c9d301;
					    position: absolute;
					    left: 50%;
					    top: 0;
					    width: 100%;
					    height: 20px;
					} 
				}
			}
			.video-wrapper{
				.title-wrapper{
				    text-transform: capitalize;
				    color: #000;
				    font-weight: 700;
				    text-align: center;
				    font-size: 32px;
				    height: 105px;
				    margin-bottom: 50px;
				    @media screen and (max-width: 768px) {
					    height: 100%;
				    }
				    .title{
				    	display: inline-block;
					    padding-left: 50px;
						height: 105px;
    					padding-top: 30px;
    					position: relative;
					    @media screen and (max-width: 768px) {
						    height: 100%;
						    padding-left: 0;
					    }
    					.ico{
    						position: absolute;
    						top: 0;
    						@media screen and (max-width: 768px) {
    							display: none;
    						}
    					}
    					.block{
    						display: inline-block;
						    position: relative;
    						left: 40px;
    						@media screen and (max-width: 768px) {
    							left: 0;
    						}
    					}
    					.border-top{
						    position: absolute;
						    background: #c9d301;
						    height: 1px;
    						width: 100%;
    						@media screen and (max-width: 768px) {
    							display: none;
    						}
    					}
    					.border-bottom{
    						position: absolute;
    						background: #c9d301;
						    height: 1px;
    						width: 100%;
						    bottom: 26px;
						    @media screen and (max-width: 768px) {
						    	display: none;
						    }
    					}
				    }
				}
				.videos{
					position: relative;
					.img{
						text-align: center;
						img{
							width: 100%;
							height: 735px;
							object-fit: cover;
							@media screen and (max-width: 768px) {
								height: 300px;
							}
						}
					}
					#iframeyoutube{
						@media screen and (max-width: 768px) {
							height: 300px;
						}
					}
					.play{
						position: absolute;
						width: 50%;
						height: 25%;
						left: 0;
						bottom: 0;
						top: 0;
						right: 0;
						margin: auto;
						text-align: center;
						@media screen and (max-width: 768px){
							height: 50%;
						}
						img{
							display: inline-block;
							@media screen and (max-width: 768px){
							    width: 50%;
							}
						}
					}
				}
			}
			.border-gap{
				padding: 20px 0;
				border-bottom: 1px solid #ccc;
			}
			.home-article-column{
			    margin-top: 50px;
				.home-articl-block{
					background: #ebebeb;
				    overflow: hidden;
			        margin-bottom: 20px;
			        .img{
			        	a{
			        		display: block;
			        		position: relative;
			        		img{
			        			object-fit: cover;
			        			height: 270px;
			        			width: 100%;
			        		}
							.hover{
								position: absolute;
								width: 100%;
								left: 0;
								right:0;
								bottom: 0;
								top: 0;
								height: 100%;
								background: #c9d301;
								text-align: center;
								display: none;
								img{
									height: auto;
									object-fit: none;
									display: inline-block;
									@media (min-width: 600px) and (max-width: 990px){
										width: 60%;
									}
								}
							}
							&:hover{
								.hover{
									display: block;
								}
							}
			        	}
			        }
					.column{
						padding: 25px 30px 20px;
						min-height: 243px;
						position: relative;
						.title{
							font-size: 16px;
							color: #000;
							text-transform: uppercase;
							background: url(../img/border-title.jpg) no-repeat bottom left;
						    padding-bottom: 5px;
						    margin-bottom: 10px;
						    font-weight: 700;
						}
						.desc{
							color: #555;
							font-size: 16px;
						}
						.btn-more{
							font-weight: 500;
							margin-top: 20px;
						    position: absolute;
						    bottom: 20px;
						    right: 20px;
							a{
								display: block;
								border-radius: 10px; 
								background: #000;
								color: #fff;
								padding: 10px;
								width: 120px;
								height: 40px;
								text-decoration: none;
								&:hover{
									background:#c8d204;
								}
								.txt{
									float: left;
								}
								.bulet{
									border: 1px solid #fff;
								    width: 15px;
								    height: 15px;
								    border-radius: 50%;
								    float: right;
								    text-align: center;
								    margin-top: 3px;
								    i{
							    	    vertical-align: top;
						    	        margin-top: -1px;
								    }
								}
							}
						}
					}
					.border-double{
						position: relative;
						height: 20px;
						.border1{
							background: #c9d301;
							width: 100%;
							height: 20px;
						} 
						.border2{
							background: #929290;
						    position: absolute;
						    left: 50%;
						    top: 0;
						    width: 100%;
						    height: 20px;
						} 
					}
				}
			}
			.home-large-article{
				background: #cfcfcd;
				height: 100%;
				overflow: hidden;
			    margin-top: 20px;
				.home-large-article-left{
					float: left;
					width: 50%;
					padding: 70px 30px 30px;
					overflow: hidden;
					min-height: 500px;
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%;
					    
					}
					.title{
						font-size: 24px;
						font-weight: 700;
						text-transform: uppercase;
						background: url(../img/border-title.jpg) no-repeat bottom left;
					    padding-bottom: 5px;
					    margin-bottom: 20px;
					}
					.desc{
						font-size: 16px;
					    max-height: 300px;
    					overflow: hidden;
    					@media screen and (max-width: 768px) {
    						max-height: 100%;
    					}
						p{
							margin-bottom: 20px;
							line-height: 20px;
						}
					}
					.btn-more{
						float: right;
						font-weight: 500;
						@media screen and (max-width: 768px){
							float: none;
						    padding-bottom: 20px;
						}
						a{
							display: block;
							border-radius: 10px; 
							background: #000;
							color: #fff;
							padding: 10px;
							width: 120px;
							height: 40px;
						    margin-top: 10px;
							text-decoration: none;
							&:hover{
								background:#c8d204;
							}
							.txt{
								float: left;
							}
							.bulet{
								border: 1px solid #fff;
							    width: 15px;
							    height: 15px;
							    border-radius: 50%;
							    float: right;
							    text-align: center;
							    margin-top: 3px;
							    i{
						    	    vertical-align: top;
					    	        margin-top: -1px;
							    }
							}
						}
					}
				}
				.home-large-article-right{
					float: left;
					width: 50%;
					@media screen and (max-width: 768px) {
						float: none;
						width: 100%
					}
					.img{
						img{
							object-fit: cover;
							height: 499px;
							width: 100%;
						}
					}
				}
				.border-double{
					position: relative;
					height: 20px;
					.border1{
						background: #c9d301;
						width: 100%;
						height: 20px;
					} 
					.border2{
						background: #929290;
					    position: absolute;
					    left: 50%;
					    top: 0;
					    width: 100%;
					    height: 20px;
					} 
				}
			}
		}
		.border-double{
			position: relative;
			height: 20px;
			.border1{
				background: #c9d301;
				width: 100%;
				height: 20px;
			} 
			.border2{
				background: #000;
			    position: absolute;
			    left: 50%;
			    top: 0;
			    width: 100%;
			    height: 20px;
			} 
		}

	}
}